
.table-body {
    text-decoration: none;
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

    .table-body th {
        font-weight: normal;
        font-size: 14px;
        color: #ffffff;
        background-color: #354251;
    }

    .table-body td {
        font-size: 13px;
        color: #354251;
    }

    .table-body td, table-body th {
        white-space: pre-wrap;
        padding: 10px 5px;
        line-height: 13px;
        vertical-align: middle;
        border: 1px solid #354251;
    }

    .table-body tr:hover {
        background-color: #f9fafb
    }

        .table-body tr:hover td {
            color: #354251;
            cursor: pointer;
        }

.table-wrap {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
}

table {
    table-layout: fixed;
}

td {
    overflow: hidden;
    overflow-wrap: break-word;
}
